
.flipbook-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../../img/flipbook/overlay_lightbox.png') repeat;
}
.flipbook-wrapper{
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    text-shadow: none;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    background: #ffffff;
    /*background: url('../../img/overlay_lightbox.png') repeat;*/
}
.flipbook-wrapper-transparent{
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*position: absolute;*/
    width: 100%;
    height: 100%;
    background:none;
}
.main-wrapper {
    /*position: relative;*/
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 91%;
    overflow: hidden;
    /*background-color: #252525;*/
    /*background: url('../../img/patterns/woven.png');*/
    background: url('../../img/flipbook/patterns/retina_wood2.png');
    /*background: url('../../img/overlay_lightbox.png') repeat;*/
}
.flipbook-bookLayer{
    position: absolute;
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/

    width: 100%;
    height: 100%;

    overflow: auto;
    perspective:6000px;
    -webkit-perspective:6000px; /* Safari and Chrome */
    -moz-perspective:6000px;
}
.flipbook-book{
    position: relative;
    perspective:6000px;
    -webkit-perspective:6000px; /* Safari and Chrome */
    -moz-perspective:6000px;
   	top:-20px;
    /*top:-20px;*/
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.flipbook-page{
    overflow: hidden;
    position: absolute;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    backface-visibility:hidden;
    -webkit-backface-visibility:hidden; /* Chrome and Safari */
    -moz-backface-visibility:hidden; /* Firefox */
    -ms-backface-visibility:hidden; /* Internet Explorer */
}
.flipbook-shadowLeft{
    position: absolute;
    top:0;
    left: 0;
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.flipbook-shadowRight{
    position: absolute;
    top:0;
    right: 0;
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.flipbook-currentPage {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    z-index: 999999;
    background: none !important;
    border: none !important;

}

.flipbook-currentPage:focus {
    outline: none;
}

.flipbook-menuWrapper {
    /*position: relative;*/
    /*bottom: 40px;*/
    position: absolute;
    bottom: 0;
    z-index: 99999;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}
.flipbook-menu:hover{
    /*opacity: 1;*/
}
.flipbook-menu {
    position: relative;
    text-align: center;
    margin: 0;
    padding: 5px;
    z-index: 99999;

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}



.flipbook-menu-btn {
    display: inline;
    cursor: pointer;
    background: none;
}

.flipbook-thumbHolder{
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, .5);

    -webkit-transition: all .3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
    -moz-transition: all .3s ease-out;  /* Firefox 4-15 */
    -o-transition: all .3s ease-out;  /* Opera 10.50 */
    transition: all .3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}

.flipbook-toc{
    position: relative;
}

.flipbook-tocHolder{
    position: absolute;
    top:0;
    /*left: 0;*/
    height: 100%;
    width: 300px;
    /*bottom: 50px;*/

    -webkit-transition: all .3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
    -moz-transition: all .3s ease-out;  /* Firefox 4-15 */
    -o-transition: all .3s ease-out;  /* Opera 10.50
    transition: all .3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}

.flipbook-tocItem{

    display: block;
    padding: 10px 20px;
    text-align: justify;
    cursor: pointer;
    font-size: .9em;

}
.flipbook-tocItem .right{
    float: right;
}

.flipbook-tocTitle{
    display: block;
    padding: 20px;
    text-align: left;
    text-transform: uppercase;
}

.invisible{
    opacity: 0;
    pointer-events:none;
}

.transition{
    -webkit-transition: all .3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
    -moz-transition: all .3s ease-out;  /* Firefox 4-15 */
    -o-transition: all .3s ease-out;  /* Opera 10.50*/
    transition: all .3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}

.flipbook-shareButtons{
    width: 41px;

    position: absolute;
    /*right: 0;*/
    /*top: 0;*/
    bottom:45px;
    /*-webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .5);*/
    /*box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .5);*/
    max-width: 100%;   max-height:100%;
    overflow: hidden; /* Aligns Vertically - Remove for Horizontal Only */    /* Aligns Horizontally - Remove for Vertical Only  */;
    padding: 10px 0;
    /*margin-right: 10px;*/
}

.flipbook-shareBtn{
    display: inline-block;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

img{
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

/*Icon font*/

@font-face {
    font-family: 'icomoon';
    src:url('../../css/flipbook/fonts/icomoon.eot');
    src:url('../../css/flipbook/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../../css/flipbook/fonts/icomoon.woff') format('woff'),
    url('../../css/flipbook/fonts/icomoon.ttf') format('truetype'),
    url('../../css/flipbook/fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-facebook:before,
.icon-twitter:before, .icon-googleplus:before,.icon-flickr:before, .icon-vimeo:before, .icon-linkedin:before,
.icon-youtube:before, .icon-youtube-2:before, .icon-vimeo-2:before,
.icon-vimeo2:before, .icon-google-plus:before, .icon-google-plus-2:before, .icon-twitter-2:before, .icon-twitter-3:before, .icon-feed:before,
.icon-feed-2:before,
.icon-flickr-2:before, .icon-flickr-3:before, .icon-picassa:before, .icon-picassa-2:before, .icon-dribbble:before, .icon-dribbble-2:before,
.icon-forrst:before,
.icon-forrst-2:before, .icon-deviantart:before, .icon-deviantart-2:before, .icon-steam:before, .icon-steam-2:before, .icon-wordpress:before,
.icon-wordpress-2:before,
.icon-blogger:before, .icon-tumblr:before, .icon-tumblr-2:before, .icon-yahoo:before, .icon-code:before, .icon-soundcloud:before, .icon-soundcloud-2:before,
.icon-lastfm:before,
.icon-lastfm-2:before, .icon-delicious:before, .icon-stumbleupon:before, .icon-stackoverflow:before, .icon-pinterest:before, .icon-xing:before,
.icon-flattr:before,
.icon-foursquare:before, .icon-paypal:before, .icon-facebook-2:before, .icon-facebook-3:before, .icon-paypal-2:before {
    font-size: 1.3em;
    margin: 5px 5px;
    padding: 5px;
}

.icon-share:before, .icon-minus:before, .icon-plus:before, .icon-arrow-left:before, .icon-arrow-right:before,
.icon-layout:before, .icon-list:before, .icon-cross:before,  .icon-resize-enlarge:before, .icon-resize-shrink:before,
.icon-arrow-left-2:before, .icon-arrow-right-2:before, .icon-zoom-out:before, .icon-zoom-in:before {
    font-size: 1.9em;
    margin: 5px 3px;
    padding: 0;
}

.icon-general{
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/*.icon-share:before {
    content: url('../../img/flipbook/icons/share_dark.png');
}*/
.icon-minus:before {
    content: "\e003";
}
.icon-plus:before {
    content: "\e004";
}
.icon-arrow-left:before {
   	content: url('../../img/flipbook/icons/prev2.png');
}
.icon-arrow-right:before {
    content: url('../../img/flipbook/icons/next2.png');
}
/*.icon-facebook:before {
    content: url('../../img/flipbook/icons/facebook_dark.png');
}*/
.icon-layout:before {
    content: url('../../img/flipbook/icons/thumbs2.png');
}
.icon-list:before {
    content: url('../../img/flipbook/icons/list_dark.png');
}
.icon-cross:before {
    content: url('../../img/flipbook/icons/btClose.gif');
}
/*.icon-twitter:before {
    content: url('../../img/flipbook/icons/twitter_dark.png');
}*/
/*.icon-googleplus:before {
    content: "\e001";
}*/
.icon-resize-enlarge:before {
    content: url('../../img/flipbook/icons/expand2.png');
}
.icon-resize-shrink:before {
    content: url('../../img/flipbook/icons/collapse2.png');
}
/*.icon-flickr:before {
    content: url('../../img/flipbook/icons/expand2.png');
}*/
/*.icon-vimeo:before {
    content: url('../../img/flipbook/icons/expand2.png');
}*/
/*.icon-linkedin:before {
    content: url('../../img/flipbook/icons/expand2.png');
}*/
/*.icon-arrow-left-2:before {
    content: url('../../img/flipbook/icons/expand2.png');
}*/
.icon-arrow-right-2:before {
    content: "\e011";
}
.icon-zoom-out:before {
    content: url('../../img/flipbook/icons/minus_dark.png');
    opacity: 0.5;
}
.icon-zoom-in:before {
    content: url('../../img/flipbook/icons/plus_dark.png');
}
/*.icon-youtube:before {
    content: url('../../img/flipbook/icons/expand2.png');
}*/
.icon-youtube-2:before {
    content: "\e015";
}
.icon-vimeo-2:before {
    content: "\e016";
}
.icon-vimeo2:before {
    content: "\e017";
}
.icon-google-plus:before {
    content: "\e018";
}
.icon-google-plus-2:before {
    content: "\e019";
}
.icon-twitter-2:before {
    content: "\e01a";
}
.icon-twitter-3:before {
    content: "\e01b";
}
.icon-feed:before {
    content: "\e01c";
}
.icon-feed-2:before {
    content: "\e01d";
}
.icon-flickr-2:before {
    content: "\e01e";
}
.icon-flickr-3:before {
    content: "\e01f";
}
/*.icon-picassa:before {
    content: url('../../img/flipbook/icons/expand2.png');
}*/
.icon-picassa-2:before {
    content: "\e021";
}
.icon-dribbble:before {
    content: "\e024";
}
.icon-dribbble-2:before {
    content: "\e025";
}
.icon-forrst:before {
    content: "\e022";
}
.icon-forrst-2:before {
    content: "\e023";
}
.icon-deviantart:before {
    content: "\e026";
}
.icon-deviantart-2:before {
    content: "\e027";
}
.icon-steam:before {
    content: "\e028";
}
.icon-steam-2:before {
    content: "\e029";
}
.icon-wordpress:before {
    content: "\e02a";
}
.icon-wordpress-2:before {
    content: "\e02b";
}
.icon-blogger:before {
    content: "\e02c";
}
.icon-tumblr:before {
    content: "\e02d";
}
.icon-tumblr-2:before {
    content: "\e02e";
}
.icon-yahoo:before {
    content: "\e02f";
}
.icon-code:before {
    content: "\e030";
}
.icon-soundcloud:before {
    content: "\e031";
}
.icon-soundcloud-2:before {
    content: "\e032";
}
.icon-lastfm:before {
    content: "\e033";
}
.icon-lastfm-2:before {
    content: "\e034";
}
.icon-delicious:before {
    content: "\e035";
}
.icon-stumbleupon:before {
    content: "\e036";
}
.icon-stackoverflow:before {
    content: "\e037";
}
.icon-pinterest:before {
    content: "\e038";
}
.icon-xing:before {
    content: "\e039";
}
.icon-flattr:before {
    content: "\e03a";
}
.icon-foursquare:before {
    content: "\e03b";
}
.icon-paypal:before {
    content: "\e03c";
}
.icon-facebook-2:before {
    content: "\e03e";
}
.icon-facebook-3:before {
    content: "\e03f";
}
.icon-paypal-2:before {
    content: "\e03d";
}
