/* CSS RESET 2009 - 24\7 Inteligência Digital */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, sub, sup, tt, var,dl, dt, dd, ol, ul, li,fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {    margin: 0;padding: 0;border: 0;outline: 0;font-weight: inherit;font-style: inherit;font-size: 100%;font-family: inherit;vertical-align: baseline;}
/* remember to define focus styles! */: focus {      outline: 0;}
body {  line-height: 1;color: black;background: white;}
ol, ul {       list-style: none;}
/* tables still need 'cellspacing="0"' in the markup */table {       border-collapse: separate; border-spacing: 0;}
caption, th, td {      text-align: left;font-weight: normal;}
blockquote: before, blockquote: after,q: before, q: after {  content: "";}
blockquote, q { quotes: "" "";}
 
}
 
/* ESTRUTURA INICIAL - Body + #contentBody */
 
html{ overflow: -moz-scrollbars-vertical;outline: 0;}
body{
        background: #FFFFFF url(../img/bgfull.gif) repeat-x top left;
        font: normal 11px verdana, arial, helvetica, sans-serif;
        color: #696969;
        text-align: center;
        min-height: 100%;
        outline: 0;
}
#contentBody{
        width: 1130px;
        margin: 0 auto;
        text-align: left;
        position: relative;
}
 
 
/*********************************************************************************/
/*                                                           Inicio de Estrutura                                            */
/*********************************************************************************/
 
 
#contentBodyHeader{
        width: 100%;
        height: 90px;
}
#contentBodyHeader .logo247{
        float: left;
        margin: 20px 30px 0 0;
}
#contentBodyHeader .folhasp{
        float: right;
        margin: 30px 0 0 0;
}
 
#conteudoGeral{
        height: 100%;
}
#conteudoGeral #contentLogin{
        width: 412px;
        height: 172px;
        margin: 120px 0 0 330px;
        background-color: #f3f3f3;
        border-right: 1px solid #e1e1e1; 
        border-bottom: 1px solid #e1e1e1;
}
#conteudoGeral #contentLogin .tblogin{
        margin: 38px 0 0 46px;
}
#conteudoGeral #contentLogin label login{
        font: normal 14px Lucida Grande, verdana, arial, helvetica, sans-serif;
}
#conteudoGeral #contentLogin .user{
        width: 122px;
        height: 16px;
        padding: 6px;
        border-top: 1px solid #b5bec0;
        border-left: 1px solid #b5bec0;
        color: #000;
}
#conteudoGeral #contentLogin .pass{
        width: 162px;
        height: 16px;  
        padding: 6px;
        border-top: 1px solid #b5bec0;
        border-left: 1px solid #b5bec0;
        color: #000;
}
#conteudoGeral #contentLogin .Entrar{
        width: 92px;
        margin: 20px 0 0 278px;
}
#conteudoGeral #contentLogin .btEntrar{
        background: #FFFFFF url(../img/btEntrar.gif) no-repeat;
        border: none;
        width: 92px;
        height: 29px;
        cursor: pointer;
}
 
 
/*********************************************************************************/
/*                                                           Final de Estrutura                                             */
/*********************************************************************************/
 
 
/*********************************************************************************/
/*                                                           Inicio de Menu                                         */
/*********************************************************************************/
 
#contentBody #contentMenu{
        height: 55px;
}
 
#contentBody #contentMenu #navcontainer{
        margin: 13px 0 0 0;
        height: 32px;
        float: left;
}
#contentBody #contentMenu #navcontainer ul{
        padding-left: 0;
        margin-left: 0;
        color: #FFFFFF;
        float: left;
        width: 1130px;
        font: normal 11px verdana, arial, helvetica, sans-serif;
}
#contentBody #contentMenu #navcontainer ul li { display: inline; }
 
#contentBody #contentMenu #navcontainer ul li a{
        padding: 0.8em 0.9em;
        background-color: #000;
        color: White;
        text-decoration: none;
        float: left;
}
#contentBody #contentMenu #navcontainer ul li a:hover{
        background-color: #696969;
        color: #fff;
}
 
#contentBody #contentMenu #navcontainer ul li #active{
        background-color: #696969;
        color: #fff;
}
 
/*********************************************************************************/
/*                                                           Final de menu                                          */
/*********************************************************************************/
 
/*********************************************************************************/
/*                                                           Inicio de Breadcrumb                                           */
/*********************************************************************************/
 
#contentBody #contentBreadcrumb{
        width: 100%;
        float: right;
        border-bottom: 1px dashed #49657f;
        padding: 10px 0 10px 0;
        text-align: right;
}
#contentBody #contentBreadcrumb .breadcrumb{
        font: normal 11px Verdana, Lucida Grande, Trebuchet MS, Helvetica, sans-serif;
}
 
#contentBody #contentBreadcrumb .breadcrumb a{
        text-decoration: underline;
        color: #f58220;
}
 
#contentBody #contentBreadcrumb .breadcrumb a:visited, .breadcrumb a:active{
        color: #f58220;
        text-decoration: none;
}
 
#contentBody #contentBreadcrumb .breadcrumb a:hover{
        text-decoration: underline;
}
 
/*********************************************************************************/
/*                                                           Final de Breadcrumb                                            */
/*********************************************************************************/
 
/*********************************************************************************/
/*                                    Inicio de conteudo Geral + Global                                             */
/*********************************************************************************/
 
 
#contentBody #conteudoGeral{
        float: left;
        width: 100%;
        margin: 10px 0 0 0;
}
#contentBody #conteudoGeral h1{
        font: bold 16px Verdana, Lucida Grande, Trebuchet MS, Helvetica, sans-serif;
        margin: 0 0 10px 0;
}
#contentBody #conteudoGeral #contentGlobal{
        /*border:1px solid #fff;
    border-right-color:#BDC9D2;
    border-bottom-color:#BDC9D2;*/
    width: 1128px;
}
 
/****************************************************************/
/* Final de conteudo Geral + Global  */
/****************************************************************/
 
/****************************************************************/
/* Inicio de Content Paginação  */
/****************************************************************/
 
#contentBody #contentGlobal #contentPaginacao{ padding: 10px 0 10px 0; }
#contentBody #contentGlobal #contentPaginacao .paginacao{ display:block; float:none; clear:both; overflow:hidden; text-align:left; margin:0; padding:0.5em 0; color: #818181; }
#contentBody #contentGlobal #contentPaginacao .paginacao a, .paginacao a:visited, .paginacao span {padding:0 4px; text-decoration:none; }
#contentBody #contentGlobal #contentPaginacao .paginacao a:hover {text-decoration:none; }
#contentBody #contentGlobal #contentPaginacao .paginacao span.anterior, .paginacao span.anterior:visited, .paginacao span.anterior{ padding:0 4px 0 16px; }
#contentBody #contentGlobal #contentPaginacao .paginacao span.proximo, .paginacao span.proximo:visited, .paginacao span.proximo{ padding:0 16px 0 4px; }
#contentBody #contentGlobal #contentPaginacao .paginacao span.anterior { background: url(../img/icon_anterior.gif) no-repeat left 5px; }
#contentBody #contentGlobal #contentPaginacao .paginacao.link span.proximo { background: url(../img/icon_proximo.gif) no-repeat right 5px; }
#contentBody #contentGlobal #contentPaginacao .med { color:#f4911e; }
#contentBody #contentGlobal #contentPaginacao .link a:hover, .link a:active { color:#f4911e; }
#contentBody #contentGlobal #contentPaginacao .paginacao a{ color: #818181; }
 
 
/****************************************************************/
/* Final de Content Paginação  */
/****************************************************************/
 
/*********************************************************************************/
/*                                                           Inicio de Footer                                               */
/*********************************************************************************/
 
 
#contentBody #contentFooter{
        background: #FFFFFF url(../img/bgfooter.gif) repeat-x top left;
        float: right;
        width: 1108px;
        padding:12px;
        margin: 30px 0 0 0;
}
 
#contentBody #contentFooter .contentMenu{
        width: 115px;
        float: right;
        font: normal 11px Verdana, Lucida Grande, Trebuchet MS, Helvetica, sans-serif;
}
 
#contentBody #contentFooter .contentMenu a{
        text-decoration: none;
        color: #49657f;
}
#contentBody #contentFooter .contentMenu a:hover{
        text-decoration: none;
        color: #9e1c3b;
}
 
 
#contentBody #contentFooter .assinatura{
        width: 190px;
        float: left;
        text-align: right;
        font: normal 11px Verdana, Lucida Grande, Trebuchet MS, Helvetica, sans-serif;
}
#contentBody #contentFooter .imageip{
        float: right;
        text-align: right;
}
 
/*********************************************************************************/
/*                                                             Final de Footer                                */
/*********************************************************************************/
 
 
 
 
 
 
 
/**/
/* Conteudo externo */
/**/
#contentGlobal #contentSemresultado{
        border: 1px solid red;
        padding: 6px;
}
#contentGlobal #pesquisa_simples {
        padding: 6px;
        color: #696969;
        border: 1px solid #D3D3D3;
        background-color: #EDECEC;
        margin: 0 0 20px 0;
}
#contentGlobal #pesquisa_simples .pesquisa_select{
        color: #000000;
        padding: 6px;
        background-color: #FFFFFF;
        border-top: 1px solid #cecccc;
        border-left: 1px solid #cecccc;
        border-right: 1px solid #ededed;
        border-bottom: 1px solid #ededed;
}
#contentGlobal #pesquisa_simples .pesquisa_input{
        color: #000000;
        padding: 6px;
        background-color: #FFFFFF;
        border-top: 1px solid #cecccc;
        border-left: 1px solid #cecccc;
        border-right: 1px solid #ededed;
        border-bottom: 1px solid #ededed;
        width: 300px;
}
#contentGlobal #pesquisa_completo {
        float: left;
        margin: 10px 0 30px 0;
        width: 100%;
}
/**/
/* Inicio de Botão estilizado */
/**/
#contentGlobal #pesquisa_completo #contentPcomplete a.button {
    background: transparent url('../img/bg_button_a.gif') no-repeat scroll top right;
    color: #818080;
    display: block;
    float: left;
    font: normal 10px Verdana, Lucida Grande, Trebuchet MS, Helvetica, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}
 
#contentGlobal #pesquisa_completo #contentPcomplete a.button span {
    background: transparent url('../img/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
} 
#contentGlobal #pesquisa_completo #contentPcomplete a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}
 
#contentGlobal #pesquisa_completo #contentPcomplete a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}
/**/
/* Final de Botão estilizado */
/**/
 
 
#contentGlobal #pesquisa_completo #contentPcomplete td, th {
        text-align: left;
        padding: 6px;
}
#contentGlobal #tableObjeto{
        float: left;
        width: 100%;
}
 
#contentGlobal #tableObjeto .tableSelection {
  border-collapse: collapse;
  border: 1px solid #03476F;
  font: normal 11px Verdana, Lucida Grande, Trebuchet MS, Helvetica, sans-serif;
  color: #696969;
  background: #FFFFFF;
  }
#contentGlobal #tableObjeto  td, th {
  border: 1px solid #d3d3d3;
  padding: 6px;
  color: #363636;
}
 
#contentGlobal #tableObjeto thead th, tfoot th {
  font: bold 11px Verdana, Lucida Grande, Trebuchet MS, Helvetica, sans-serif;
  border: 1px solid #d3d3d3;
  text-align: center;
  background-color: #edecec;
  color: #000000;
  padding-top:6px;
  }
#contentGlobal #tableObjeto tbody td a {
  background: #FFFFFF;
  text-decoration: none;
  color: #363636;
  }
#contentGlobal #tableObjeto tbody td a:hover {
  background: #FFFFFF;
  color: #363636;
  }
#contentGlobal #tableObjeto tbody th a {
  font: normal 11px Verdana, Lucida Grande, Trebuchet MS, Helvetica, sans-serif;
  background: #FFFFFF;
  text-decoration: none;
  font-weight:normal;
  color: #363636;
  }
#contentGlobal #tableObjeto tbody th a:hover {
  background: #FFFFFF;
  color: #363636;
  }
#contentGlobal #tableObjeto tbody th, tbody td {
  vertical-align: middle;
  text-align: center;
  }
#contentGlobal #tableObjeto tfoot td {
  border: 1px solid #d3d3d3;
  background: #4591AD;
  padding-top:3px;
  color: #FFFFFF;
  }
#contentGlobal #tableObjeto .odd {
  background: #FFFFFF;
  }
#contentGlobal #tableObjeto tbody tr:hover {
  background: #f7f7f7;
  border: 1px solid #03476F;
  color: #FFFFFF;
  }
#contentGlobal #tableObjeto tbody tr:hover th,
#contentGlobal #tableObjeto tbody tr.odd:hover th {
  background: #f7f7f7;
  color: #FFFFFF;
  }
  #contentGlobal #tableObjeto .obj_encontrado{
        text-align: left;
  }
 

