body {
	background: transparent url(../img/bg_new.gif);
	font-family: Tahoma, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	color: #FFF;	
}
#content_middle strong{color:#f49133; font: 14px Helvetica ;text-decoration:none;}
#content_middle strong a:link{color:#f49133; font: 14px Helvetica;text-decoration:none;}
#content_middle a:link{color:#fff; font: 12px Helvetica;text-decoration:none;}
#content_middle a:visited{color:#fff; font: 12px Helvetica; text-decoration:none;}
#content_middle a:hover{color:#f49133; font: 12px Helvetica, sans-serif; text-decoration:underline; }
#content_middle a:active{color:#f49133;font: 12px Helvetica; text-decoration:none;}

INPUT, TEXTAREA, SELECT {
	border: 1px solid #A7A9AC;
	margin-bottom: 3px;
}

#menu {
	width: 986px;
	height: 79px;
	padding: 26px 0 0 0;
}

#all {
	position: relative;
	left: 50%;
	margin-left: -493px;
	width: 986px;
}

#menu_login	td {
	font-size: 12px;
}

#logo {
	min-width: 500px;
	max-width: 985px;
	height: 70px;
	padding: 41px 0 0 0;
}

#logo24 {
	float: left;
	padding-left: 41px;
}

.area_login {
	width:411px;
	height:212px;
	margin-top:85px;
	margin-left:260px;
}

.area_login p.perdisenha{
	width: 125px;
	height: 22px;
}
.area_login p.contrato{
	margin-left: 623px;
	width: 90px;
	height: 22px;
}
.area_login p a{
	text-decoration: none;
	color: #f4911e;
}
.area_login p a:hover{
	text-decoration:underline;
}

#content_top_login {
	background: url(../img/login_box_top2.gif) no-repeat;
	width:411px;
	height:28px;
}

#content_middle_login {
	background: url(../img/new_img/login_box_middle.gif) repeat-y;
	width:411px;
	min-height:180px;
	padding: 10px 0px 0px 0px;
}

#content_bottom_login {
	background: url(../img/new_img/login_box_bottom.gif) no-repeat;
	width:411px;
	height:3px;
}

.titulo_form {
	color: #717375;
	font-weight: bold;
	width: 180px;
	float: left;
	border-top: 1px solid #BDBDBD;
}

.titulo_menu {
	color: #717375;
	font-weight: bold;
}

form
{
	width: 411px;
	height: 212px;
	margin:0, 0, 0, 0;
}

form input{
	background: 000;
	border: 1px solid;
	border-color: #333;
	color: white;
	}

td {
	padding: 3 5px 3 5px;
}

.btn {
	border: 0px;
}

fieldset {
	width: 930px;
}

#login_img{
	background-image:url(../img/txt.login.gif);
	background-repeat: no-repeat;
	width:41px;
	height:16px;
	float:left;
	margin-top:0;
}

.login_campos{
	font-size:0.6886em;
	padding:0.5em
}

#tdimage{
	background-image:url(../img/txt_form_cod.gif);
	width: 187px;	
	background-repeat:no-repeat;
	padding-left:85px;
	color: #FFFFFF;
	margin-top:10px;
}

.login_campos {
	color: #FFF;
	margin-bottom: 3px;
	background-color: #161616;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #242424;
	border-bottom: 1px solid #242424;	
}