.titulo_area {
	background: url(../img/titulo_area.gif) no-repeat;
	width: 380px;
	height: 14px;
	margin: 8px 0 25px 0;
}
#menu_login {
	background-image: url(../img/bg_faixa_login.gif);
	background-repeat: repeat-x;
	height: 110px;
	padding: 15px 0 0 15px;
}
#menu_login td {
	font-size: 12px;
}
#logo {
	min-width: 500px;
	max-width: 985px;
	height: 70px;
	padding: 41px 0 0 0;
}
.bem_vindo {
	display: block;
	float: right;
}
.bem_vindo strong {
	color: #2384C6;
	font-size: 11px;
	margin-right: 5px;
}
#conteudo {
	padding: 0 20px 20px 20px;
	margin-left: 20px;
}
#conteudo a {
	color: #f49133;
}
.pesquisa {
	margin: 10px 0 0 400px;
}
.pesquisa_add {
	margin: 15px 0 0 310px;
	background-color:#141414;
}
.titulo_view {
	color: #F6821F;
	font-weight: bold;
	font-size: 20px;
	margin: 0 0 10px 70px;
	display: inline;
}
.area {
	width: 985px;
	height: 292px;
}
#content_top {
	background: url(../img/titlehead_page.gif) no-repeat;
	width: 985px;
	height: 4px;
}
#content_middle {
	background: url(../img/titlecont_page.gif) repeat-y;
	width: 985px;
	min-height: 80px;
	padding: 10px 0 10px 5px;
	_margin-top: -10px;
	float:left;
}
#content_bottom {
	background: url(../img/titlerod_page.gif) no-repeat;
	width: 985px;
	height: 4px;
	float:left;
}
.titulo_form {
	color: #000000;
	font-weight: bold;
	width: 180px;
	border-top: 1px solid #BDBDBD;
}
.titulo_menu {
	color: #FFFFFF;
	font-weight: bold;
}
.par {
	background-color: #F0EFEF;
}
.paginacao a {
	color: #F6821F;
}
#paginacao a {
	color: #F6821F;
}
.obrigatorio {
	color: #F6821F;
}
.esq {
	float: left;
}
.btn {
	border: 0px;
	background-color:#141414;
	cursor:pointer;
}
fieldset  .tabela h2 {
	font-size: 18px;
}
#audio_cont {
	width: 330px;
	float: left;
}
.linha_baixa {
	border-bottom: 1px solid #666666;
}
.erros {
	color:#CC0000;
	font-weight:bold;
}
.aviso_arquivo_existente {
	border: 1px solid #FFCC00;
	color: #FF9900;
	padding: 4px;
}
.linkBranco {
	color: #FFFFFF;
	font-weight: bold;
}
#fichasDisponiveis {
	width: 150px;
	padding: 5px;
	background-color:#000000;
	border: 1px solid #FF9900;
	float: left;
	margin-right: 10px;
}
#fichasDisponiveis div.titulo {
	background-color:#333333;
	font-size:12px;
	font-weight: bold;
	color:#FFFFFF;
	padding: 5px;
	margin-bottom: 5px;
	cursor:move;
}
#fichasDisponiveis div.item, .fichaItem {
	background-repeat:no-repeat;
	display: block;
	padding:5px;
	height: 70px;
	width: 117px;
	float: left;
	text-align: center;
	margin-bottom: 5px;
	border: 2px solid #666666;
	cursor: move;
	overflow: hidden;
}
#fichasDisponiveis div.fichasContainer {
	height: 380px;
	overflow: auto;
}
.paginas {
	width: 750px;
	float:left;
	overflow:auto;
}
.paginas div.container {
	height: 400px;
	overflow: auto;
}
.both {
	clear: both;
}
.fichasAviso {
	font-weight:bold;
	padding: 10px;
	clear:both;
	text-align:center;
	padding-bottom: 30px;
}
.paginacaoContainer {
	text-align:center;
	clear:both;
	padding: 10px;
}
.handler {
	cursor: move;
}
fieldset.paginas legend {
	font-size: 15px;
	color:#FF9900;
	font-weight: bold;
}
.campoLongo {
	width: 350px;
}
.iconeMenu {
	padding-top: 53px;
	text-align:center;
	padding-bottom: 15px;
	width: 60px;
	float: left;
	margin-right: 10px;
	font-size: 10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	display:block;
	background-repeat:no-repeat;
	background-position: center top;
}
/* parte de gerenciamento de permissoes */
fieldset.normal {
	width: auto;
}
fieldset.normal legend {
	color:#FF9900;
	font-weight: bold;
}
fieldset.normal p label {
	display: block;
	float:left;
	width: 100px;
}
fieldset.normal p {
	clear: both;
}
.abaController, .abaControllerAberta {
	float:left;
	color:#FFFFFF;
	font-size:14px;
	font-weight:bold;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 25px;
	padding-right: 5px;
	width:auto;
	margin-bottom: 5px;
	background-position: 3px center;
	background-repeat:no-repeat;
	cursor: pointer;
}
.abaController {
	color: #FFFFFF;
	background-image: URL(../img/add.png);
}
.abaControllerAberta {
	color: #FF9900;
	background-image: URL(../img/accept.png);
}
.functions {
	clear:both;
	margin-bottom: 10px;
	padding-left: 10px;
}
.comboPesquisa {
	width: 120px;
}
.modalEstatica {
	width: 800px;
	height: 500px;
	overflow: auto;
}
.tooltipValores {
	font-size: 9px;
	border: 1px solid #FF6600;
	background-color:#333333;
	text-align: center;
	padding: 5px;
	width: 100px;
	position:absolute;
	z-index: 1000;
}

/************************************/
/** ESTILOS DO MODULO DE APROVACAO **/
/************************************/


.ap_box_fundo {
	background-color:#FFFFFF;
	border:1px dashed #CCCCCC;
	margin-bottom:10px;
	margin-left:5px;
	min-height:210px;
	width:98%;
}
.ap_box_header {
	height:70px;
	width:100%;
}
.ap_box_frente {
	background-color:#EEEEEE;
	margin-left:10px;
	margin-bottom:10px;
	min-height:70px;
	padding:5px;
	width:95%;
}
.ap_style_box_fundo {
	float:left;
	font-family:Helvetica, Verdana, Arial, sans-serif;
	padding-left:10px;
	padding-top:15px;
}
.ap_style_box_frente {
	font-family:Helvetica, Verdana, Arial, sans-serif;
}
.ap_mensagem {
	font-size:14px;
	font-style:italic;
}
.ap_titulo_mensagem {
	color:#666666;
	font-size:12px;
	font-weight:bold;
}
.ap_mensagem {
	color:#000000;
	font-size:14px;
	font-style:italic;
}
.ap_box_status {
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
	float:right;
	height:40px;
	margin-left:5px;
	margin-right:9px;
	margin-top:15px;
	width:130px;
}
.ap_status_em_aprovacao {
	background-color:#FFFF00;
	float:right;
	height:30px;
	margin-right:5px;
	margin-top:5px;
	width:30px;
}
.ap_status_aprovado {
	background-color:#66CC00;
	float:right;
	height:30px;
	margin-right:5px;
	margin-top:5px;
	width:30px;
}
.ap_status_em_alteracao {
	background-color:#FF9900;
	float:right;
	height:30px;
	margin-right:5px;
	margin-top:5px;
	width:30px;
}
.ap_status_reprovado {
	background-color:#FF0000;
	float:right;
	height:30px;
	margin-right:5px;
	margin-top:5px;
	width:30px;
}
.ap_status_elaboracao {
	background-color:#3399FF;
	float:right;
	height:30px;
	margin-right:5px;
	margin-top:5px;
	width:30px;
}
.ap_texto_status {
	color:#AAAAAA;
	float:left;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:bold;
	height:23px;
	margin-left:5px;
	margin-top:5px;
	padding-top:7px;
	text-align:center;
	width:85px;
}
.ap_destaque_texto {
	font-family:Helvetica, Verdana, Arial, sans-serif;
	font-weight:bolder;
}
.ap_baixar_pdf {
	background-image:url("../img/file_download.png");
	float:right;
	height:31px;
	margin-right:5px;
	margin-top:5px;
	width:31px;
}
.ap_box_download {
	border:1px dashed #AAAAAA;
	height:40px;
	margin-left:auto;
	margin-right:9px;
	margin-top:8px;
	margin-bottom:10px;
	width:290px;
}
.ap_texto_download {
	color:#333333;
	float:left;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-style:normal;
	height:23px;
	margin-left:5px;
	margin-top:5px;
	padding-top:7px;
	text-align:center;
	width:240px;
}

.ap_titulo_historico {
	width:540px; 
	height:30px; 
	background-color:#CCC; 
	padding-left:10px; 
	font-size:18px;
	color:#FFF; 
	padding-top:10px;
	margin-bottom:3px;
}

.comentariosAprovacao {
	text-align: left;
	width: 30%; 
	padding: 5px 0px 5px 5px;
}

.comentariosAprovacaoArquivos {
    position: absolute;
    margin-left: 10px;
}

.comentariosArquivos {
   	text-align: left;
    padding: 6px;
}

