@CHARSET "UTF-8";

.jqmWindow {
    display: none;
    position: fixed;
    top: 17%;
    left: 50%;
    margin-left: -300px;
    width: 600px;
   	background:#161616;
	border:1px #3B3B3B solid;
    color: #FFF;
    padding: 12px;
    overflow:auto;
    height:400px;
	z-index:10;
}

.jqmOverlay { background-color: #000; }

* html .jqmWindow {
     position: absolute;
     z-index:1;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

.tooltip {
	position:relative;
	/*position:absolute;*/
	/*text-align:center;*/
}
.trigger_tooltip {
	z-index: 100;
}
.popup{
	position:absolute;
	display: none;
	z-index: 100;
	border: 1px solid #d98b0d;
	background-color: #f4b831;
	color: #161616;
	font-weight: bold;
	padding: 5px;
	width: 350px;
}
.popupVermelho{
	position:absolute;
	display: none;
	z-index: 100;
	border: 1px solid #dd0000;
	background-color: #AA0000;
	color: #ffffff;
	font-weight: bold;
	padding: 5px;
	width: 350px;
}
